<div class="col-xl-12">
    <div class="row">
        <div class="col-xl-12">
            <div class="mb-4 mt-2">
                <h2 class="text-light">Hello, Sara! 👋</h2>
                <p class="text-light">Acompanhe o desempenho da sua empresa este mês.</p>
            </div>
        </div>
    </div>
    <div class="row mb-3"> 
        <div class="col-xl-6">
            <div class="row g-3">
                <div class="col-md-6 mb-2">
                    <div class="cards card p-4 shadow rounded-5 h-100">
                        <div class="d-flex justify-content-between align-items-start mb-4">
                            <span class="fw-bold text-light">N° de Orçamentos</span>
                            <div class="bg-primary rounded-circle p-2 d-flex align-items-center justify-content-center" style="width: 35px; height: 35px;">
                                <img src="../public/icons/bootstrap-icons/arrow-up-right.svg" style="filter: invert(1); width: 15px;">
                            </div>
                        </div>
                        <h3 class="fw- text-light">125</h3>
                        <span class="badge rounded-pill bg-success-subtle text-success mt-2">+ 2.5%</span>
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <div class="cards card p-4 h-100">
                        <div class="d-flex justify-content-between align-items-start mb-4">
                            <span class="text-secondary">N° Ordens de Serviços</span>
                            <div class="bg-dark border border-secondary rounded-circle p-2 d-flex align-items-center justify-content-center" style="width: 35px; height: 35px;">
                                <img src="../public/icons/bootstrap-icons/arrow-up-right.svg" style="width: 15px;">
                            </div>
                        </div>
                        <h3 class="fw-bold text-light">92</h3>
                        <span class="-pill bg-danger-subtle text-danger mt-2">- 1.5%</span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="cards card p-4">
                        <span class="text-secondary">Itens no Estoque</span>
                        <h3 class="fw-bold mt-3 text-light">79</h3>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="cards card p-4">
                        <span class="text-secondary">Quantidade de Produtos</span>
                        <h3 class="fst-italic mt-3 text-light">674 Itens</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="graphic-dash card shadow p-4 h-100">
                <span class="text-light">Relatório Mensal - Fevereiro 2026</span>
                <canvas id="grapich_finance"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3">
            <div class="cards card shadow h-100">
                <div class="d-flex flex-column align-items-center justify-content-around w-100 h-100">                                       
                    <h5 class="text-light">Clientes mais ativos</h5>
                    <ul class="text-light">
                        <li>Adalberto</li>
                        <li>Bernardo</li>
                        <li>Caio</li>
                        <li>Elano</li>
                    </ul>
                    <p><a href="./clients.html" class="menu-item link-tools" data-page="clients" style="text-decoration: none;">ver mais</a></p>
                </div>    
            </div>
        </div>
        <div class="col-xl-3">
            <div class="cards card shadow h-100">
                <div class="d-flex align-items-center justify-content-center w-100 h-100">
                    <span class="text-light">7</span>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="cards card p-4 border-0 h-100">
                <div class="d-flex justify-content-between">
                    <h5 class="fw-bold">Revenue</h5>
                    <span class="text-secondary small">this month vs last</span>
                </div>
                <div class="mt-auto" style="height: 200px; background: linear-gradient(transparent, #252525); border-radius: 15px;"></div>
            </div>
        </div>
    </div>
</div>
