<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/style.css">
        <link rel="stylesheet" href="../public/css/bootstrap.min.css"/>
        <link rel="shortcut icon" href="../public/img/logo.png" type="image/x-icon">
        <title>Sistema</title>
    </head>
    <body>
        <div class="right-menu d-flex flex-column vh-100">
            <div class="img-right-menu text-center py-4">
                <a href="./dash.html" class="link-tools" data-page="dash">
                    <img src="../public/img/maqfrio.jpg" alt="Logo do Sistema">
                </a>
            </div>

            <div class="d-flex flex-column align-items-center justify-content-start flex-grow-1 w-100 px-3 main-right-menu">
                <a href="./budgets.html" class="menu-item link-tools" data-page="budgets">
                    <span>Orçamentos</span>
                </a>
                
                <a href="./services.html" class="menu-item link-tools" data-page="services">
                    <span>Serviços</span>
                </a>

                <a href="./finances.html" class="menu-item link-tools" data-page="finances">
                    <span>Financeiro</span>
                </a>
                
                <a href="./calendar.html" class="menu-item link-tools" data-page="calendar">
                    <span>Agenda</span>
                </a>

                <a href="./stock.html" class="menu-item link-tools" data-page="stock">
                    <span>Estoque</span>
                </a>

                <a href="./products.html" class="menu-item link-tools" data-page="products">
                    <span>Produtos</span>
                </a>

                <a href="./price.html" class="menu-item link-tools" data-page="price">
                    <span>Preço dos Itens</span>
                </a>
                <a href="./clients.html" class="menu-item link-tools" data-page="clients">
                    <span>Clientes</span>
                </a>
                <a href="./users.html" class="menu-item link-tools" data-page="users">
                    <span>Funcionários</span>
                </a>
            </div>

            <div class="footer-right-menu d-flex align-items-center justify-content-center p-3 w-100">
                <a href="../index.html" class="text-light" style="text-decoration: none;"><p class="mb-0 mr-2">Sair</p></a>
                <img src="../public/icons/bootstrap-icons/door-open.svg" alt="" width="20">
            </div>
        </div>
        <div class="left-menu d-flex flex-column w-100 p-3">
            <div class="row mb-2">
                <div class="col-xl-4">
                    <div class="d-flex align-items-center w-100">
                        <div class="input-group d-flex border rounded bg-light">
                            <input type="text" class="form-control border-0" aria-label="Username" aria-describedby="basic-addon1" style="color: #ececec;">
                            <span class="input-group-text border-0" id="basic-addon1" style="background-color: #ffffff;">
                                <img src="../public/icons/bootstrap-icons/search.svg" alt="lupa">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="d-flex align-items-center justify-content-center">
                        <p class="text-header-p">10 de Fevereiro de 2026 - 04:12 AM</p>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="d-flex align-items-center justify-content-end mr-4">
                        <a href="" class="d-flex align-items-center mr-2 p-2 bg-primary" style="border-radius: 25px;"><img src="../public/icons/bootstrap-icons/question.svg" alt=""></a>
                        <a href="" class="d-flex align-items-center mr-4 p-2 bg-primary" style="border-radius: 25px;"><img src="../public/icons/bootstrap-icons/gear.svg" alt=""></a>
                        <a href="" class="link-person-function"><img src="../public/img/maqfrio.jpg" alt="foto de perfil"></a>
                    </div>
                </div>
            </div>
            <div class="row" id="main-content">
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="mb-4 mt-2">
                                <h2 class="text-light">Hello, Sara! 👋</h2>
                                <p class="text-light">Acompanhe o desempenho da sua empresa este mês.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3"> 
                        <div class="col-xl-6">
                            <div class="row g-3">
                                <div class="col-md-6 mb-2">
                                    <div class="cards card p-4 shadow rounded-5 h-100">
                                        <div class="d-flex justify-content-between align-items-start mb-4">
                                            <span class="fw-bold text-light">N° de Orçamentos</span>
                                            <div class="bg-primary rounded-circle p-2 d-flex align-items-center justify-content-center" style="width: 35px; height: 35px;">
                                                <img src="../public/icons/bootstrap-icons/arrow-up-right.svg" style="filter: invert(1); width: 15px;">
                                            </div>
                                        </div>
                                        <h3 class="fw- text-light">125</h3>
                                        <span class="badge rounded-pill bg-success-subtle text-success mt-2">+ 2.5%</span>
                                    </div>
                                </div>
    
                                <div class="col-md-6 mb-2">
                                    <div class="cards card p-4 h-100">
                                        <div class="d-flex justify-content-between align-items-start mb-4">
                                            <span class="text-secondary">N° Ordens de Serviços</span>
                                            <div class="bg-dark border border-secondary rounded-circle p-2 d-flex align-items-center justify-content-center" style="width: 35px; height: 35px;">
                                                <img src="../public/icons/bootstrap-icons/arrow-up-right.svg" style="width: 15px;">
                                            </div>
                                        </div>
                                        <h3 class="fw-bold text-light">92</h3>
                                        <span class="-pill bg-danger-subtle text-danger mt-2">- 1.5%</span>
                                    </div>
                                </div>
    
                                <div class="col-md-6">
                                    <div class="cards card p-4">
                                        <span class="text-secondary">Itens no Estoque</span>
                                        <h3 class="fw-bold mt-3 text-light">79</h3>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="cards card p-4">
                                        <span class="text-secondary">Quantidade de Produtos</span>
                                        <h3 class="fst-italic mt-3 text-light">674 Itens</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="graphic-dash card shadow p-4 h-100">
                                <span class="text-light">Relatório Mensal - Fevereiro 2026</span>
                                <canvas id="grapich_finance"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="cards card shadow h-100">
                                <div class="d-flex flex-column align-items-center justify-content-around w-100 h-100">                                       
                                    <h5 class="text-light">Clientes mais ativos</h5>
                                    <ul class="text-light">
                                        <li>Adalberto</li>
                                        <li>Bernardo</li>
                                        <li>Caio</li>
                                        <li>Elano</li>
                                    </ul>
                                    <p><a href="./clients.html" class="menu-item link-tools" data-page="clients" style="text-decoration: none;">ver mais</a></p>
                                </div>    
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="cards card shadow h-100">
                                <div class="d-flex align-items-center justify-content-center w-100 h-100">
                                    <span class="text-light">7</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="cards card p-4 border-0 h-100">
                                <div class="d-flex justify-content-between">
                                    <h5 class="fw-bold">Revenue</h5>
                                    <span class="text-secondary small">this month vs last</span>
                                </div>
                                <div class="mt-auto" style="height: 200px; background: linear-gradient(transparent, #252525); border-radius: 15px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                                                    <!-- Modais -->

        <!-- Modal Novo Orçamento -->

        <div class="modal fade" id="modalOrcamento" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content border-0 shadow rounded-4">
                    <div class="modal-header border-0 p-4">
                        <h5 class="modal-title fw-bold" id="modalOrcamentoLabel">📝 Criar Novo Orçamento</h5>
                        <button type="button" class="btn btn-light btn-close border-0" data-bs-dismiss="modal" aria-label="Close"><img src="../public/icons/bootstrap-icons/x-lg.svg" alt=""></button>
                    </div>
                    
                    <div class="modal-body p-4 pt-0">
                        <form id="form_new_budget">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <label class="form-label small fw-bold">Cliente</label>
                                            <input type="text" class="form-control rounded-3" placeholder="Nome do cliente">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-xl-3">
                                            <label class="form-label small fw-bold">Equipamento</label>
                                            <input type="text" class="form-control rounded-3" placeholder="Ex: Ar condicionado">
                                        </div>
                                        <div class="col-xl-3">
                                            <label class="form-label small fw-bold">Marca</label>
                                            <input type="text" class="form-control rounded-3" placeholder="Ex: Eletrolux">
                                        </div>
                                        <div class="col-xl-3">
                                            <label class="form-label small fw-bold">Modelo</label>
                                            <input type="text" class="form-control rounded-3" placeholder="Ex: ABC123">
                                        </div>
                                        <div class="col-xl-3">
                                            <label class="form-label small fw-bold">N° de Série</label>
                                            <input type="text" class="form-control rounded-3" placeholder="Ex: 3296
                                            95653">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-xl-12">
                                            <label class="form-label small fw-bold">Descrição do Serviço (Laudo Inicial)</label>
                                            <select class="form-control" name="select_new_budget" id="select_new_budget">
                                                <option value=""></option>
                                                <option value="">1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                                <option value="">4</option>
                                                <option value="">5</option>
                                                <option value="">6</option>
                                                <option value="">7</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-xl-12">
                                            <label class="form-label small fw-bold">Laudo Técnico</label>
                                            <textarea class="form-control rounded-3" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-end w-100 mt-2">
                                        <button type="submit" class="btn btn-primary">Criar Orçamento</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- <div class="modal-footer border-0 p-4">
                        <button type="button" class="btn btn-light rounded-pill px-4" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary rounded-pill px-4">Salvar Orçamento</button>
                    </div> -->
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- <script src="../public/js/bootstrap.min.js"></script> -->
        <script src="../public/js/navigation.js"></script>
        <script src="../controller/budgets.js"></script>
        <script src="../controller/graphics.js"></script>
        <script src="../controller/calculate.js"></script>
        <script src="../public/js/script.js"></script>
    </body>
</html>