<div class="col-xl-12">
    <h2 class="fw-bold mb-4 text-light">Serviços Disponíveis</h2>
    
    <div class="row g-3">
        <div class="col-md-4">
            <div class="card p-3 border-0 shadow-sm rounded-4">
                <h5 class="fw-bold">Manutenção Corretiva</h5>
                <p class="text-secondary small">Reparo imediato de equipamentos.</p>
                <a href="#" class="btn btn-outline-primary btn-sm">Editar</a>
            </div>
        </div>
    </div>
</div>