<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 id="tituloCategoria">Itens da Categoria</h2>
        <button class="btn btn-outline-secondary" onclick="navegarParaItens('unit_categories')">Voltar</button>
    </div>

    <div class="table-responsive shadow-sm bg-white p-3 rounded">
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Nome da Medida</th>
                    <th>Sigla</th>
                    <th class="text-end">Ações</th>
                </tr>
            </thead>
            <tbody id="listaItensMedida">
                </tbody>
        </table>
    </div>
</div>